<br>
<div class="container" id="search" style="text-align:center">
<h2>Settings</h2>
<div class="input-group">
    <textarea class="form-control" aria-label="With textarea"></textarea>
    <div class="input-group-prepend">
        <span class="input-group-text">Suggestions/Complaints/Queries</span>
      </div>
  </div>
  <div class="warnings">
      <div><button type="button" class="btn btn-primary">Send Response</button></div><br>
      <button type="button" class="btn btn-warning">Delete Tracked Data</button>
      <button type="button" class="btn btn-danger">Delete Account</button>
  </div>
</div>