b{
    font-size: 19px;
}
a {
    text-decoration:none; 
    color:white;  
}

.mat-toolbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    color: white; /*Text Color of Nav bar Text*/
    font-family: 'Source Sans Pro', sans-serif !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #616161;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 16px;}
}

#cont {
    width:100%;
    text-align:center;
}

#left {
    float:left; 
}

#center {
    display: inline-block;
    margin:0 auto;
    width:100px;
}

#right {
    float:right;
}