<div id="header">
  <div>
    <mat-toolbar id="cont" color="accent">
      <div id="left">
        <i class="fa fa-user-circle fa-lg" aria-hidden="true" (click)="toggNav()"></i>
      </div>
      <div id="center">
        <a style="color: white" routerLink="/" routerLinkActive="active">
          <b>Haxèr</b>
        </a>
      </div>
      <div id="right" [mat-menu-trigger-for]="menu">
        <i class="fa fa-cogs fa-lg" aria-hidden="true" (click)="closeNav()"></i>
      </div>
    </mat-toolbar>
    <mat-menu x-position="before" #menu="matMenu">
      <button mat-menu-item routerLink="/about" routerLinkActive="active">About Us</button>
      <button mat-menu-item routerLink="/settings" routerLinkActive="active">Settings</button>
      <button mat-menu-item routerLink="/" *ngIf="signIn" (click)="logOut()">Sign out</button>
    </mat-menu>

  </div>
  <div id="mySidenav" class="sidenav" (click)="toggNav()">
    <a *ngIf="signIn" routerLink="/profile" routerLinkActive="active">{{Name}}</a>
    <a *ngIf="!signIn" routerLink="/login" routerLinkActive="active">Sign in</a>
    <a *ngIf="!signIn" routerLink="/signup" routerLinkActive="active">Register</a>
    <a routerLink="/recom" class="show-off" routerLinkActive="active">Recommendations</a>
    <a routerLink="/discover" class="show-off" routerLinkActive="active">Discover
      &nbsp;<sup><i class="fa fa-bolt" aria-hidden="true"></i></sup>
    </a>

    <div class="container" id="haxinfo">
      <br>
      <img width="45%" src="/assets/haxer.png">
      <p>Version 5.1
        <br> &copy; 2017-2018 Haxèr, OSS</p>
    </div>
  </div>
</div>