<div>
    <mat-toolbar color="accent">
      <span><i class="fa fa-user fa-lg" aria-hidden="true" (click)="toggNav()"></i></span>
  
      <a routerLink="/browse" routerLinkActive="active">Haxèr</a>

      <span [mat-menu-trigger-for]="menu">
          <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
      </span>
    </mat-toolbar>
    <mat-menu x-position="before" #menu="matMenu">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Sign out</button>
    </mat-menu>
  
  </div>
  <div id="mySidenav" class="sidenav" (click)="toggNav()">
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/login" routerLinkActive="active">Sign in</a>
  <a routerLink="/signup" routerLinkActive="active">Register</a>
  <a routerLink="/user/:id" routerLinkActive="active">My List</a>
  </div>
