b{
    font-size: 19px;
}
a {
    text-decoration:none; 
    color:white;  
}

mat-toolbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    color: white; /*Text Color of Nav bar Text*/
    font-family: 'Source Sans Pro', sans-serif !important;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 16px;}
}

#cont {
    width:100%;
    text-align:center;
}

#left {
    float:left; 
}

#center {
    display: inline-block;
    margin:0 auto;
    width:100px;
}

#right {
    float:right;
}