<br><br>
<span class="agile-login">
  <div class="wrapper">
    <h2>Sign Up</h2>
    <div class="w3ls-form">
      <form [formGroup]="myForm" (ngSubmit)="sendReq(fulln.value,emailadd.value,pass1.value,pass2.value)">
        <label>Name</label>
        <input type="text" formControlName="name" #fulln placeholder="Name" required minlength="4"/>
        <label>Email Address</label>
        <input type="text" formControlName="email" #emailadd placeholder="Email" required/>
        <label>Password</label>
        <input type="password" formControlName="password1" #pass1 placeholder="Password" required minlength="4"/>
        <label>Confirm Password</label>
        <input type="password" formControlName="password2" #pass2 placeholder="Confirm Password" required /><br>
        <a href="#" class="pass">Already Registered ?</a>
        <div class="g-recaptcha" data-sitekey="6LdcijgUAAAAAHESsqShZ_pNE48MEcb_GxG8KSrq" data-callback="correctCaptcha"></div>
        <span style="color:orangered" *ngIf="myForm.hasError('email', 'email') && myForm.get('email').touched else yoman" #butt>
            Please enter a valid email address to succesfully register.
        </span>
        <ng-template #yoman>
            <input type="submit" value="Register"/>
        </ng-template>
      </form>
    </div>

    
    <!--
    <div class="agile-icons">
      <a href="#"><span class="fa fa-google" aria-hidden="true"></span></a>
      <a href="#"><span class="fa fa-facebook"></span></a>
    </div>
  -->
  </div>
  <br>
</span>