.slider-section{
  margin-left: 20px;
}
.carousel, .arry, .larry {
  background-color: black;
}
.flickity-viewport {
  background-color: black !important;
}
.carousel-cell {
  background-color: black;
  width: 185px;
  height: 278px;
  margin-right: 4px;
  border-radius: 5px;
}

.carousel-cell:before {
  display: block;
  text-align: center;
}

#buttons-dislike {
  margin-left: 4px;
  top: 0;
  right: 0;
  z-index: 1; 
  position: absolute; 
  width: 100%;
  border: 0px;
}

#buttons-like {
  margin-left: 4px;
  bottom: 0;
  right: 0;
  z-index: 1; 
  position: absolute; 
  width: 100%;
  border: 0px;
}

#buttons-watchlater {
  left: 0;
  z-index: 1; 
  position: absolute; 
  height: 100%;
  border: 0px;
}

button:hover
{
opacity: 1;
}

button
{
opacity: 0;
}