<br />
<br />
<div class="slider-section">
  <div *ngFor="let section of sections_data">
    <div *ngIf="section.data!='' && section.data!=null && section.text!=''">
      <h3>{{section.text}}</h3>
      <div class="{{section.class}}" data-flickity='{"wrapAround": true, "groupCells": true, "autoPlay": 3000, "pauseAutoPlayOnHover": false}'>
        <div class="carousel-cell" *ngFor="let movie of section.data.results">
          <img class="carousel-img" src="https://image.tmdb.org/t/p/w185/{{movie.poster_path}}">
          <button id="buttons-like" type="button" class="btn btn-success">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          </button>
          <button id="buttons-dislike" type="button" class="btn btn-warning">
            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
          </button>
          <button id="buttons-watchlater" type="button" class="btn btn-dark">
            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
<br>
