table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 10px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  table
  { 
  margin-left: auto;
  margin-right: auto;
  }

  /*  Material Card */
  .example-card {
    width: 400px; 
    font-family: 'Source Sans Pro', sans-serif;
  }

  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #000;
    color: white;
}

.next {
    background-color: #000;
    color: white;
}

.mat-button-toggle-group, .mat-button-toggle-standalone{
  box-shadow: none !important;
  border-radius: 0px !important;
}

.mat-button-toggle-checked{
  background-color: #ffffff !important;
}

.mat-button-toggle
{
  background-color: #ffffff !important;
}

.input-group.mb-3 {
  margin-left: auto;
  margin-right: auto;
  width: 30%
}