<br>
<br>
<div class="container" style="text-align:center; position:relative;">
  <div class="dropdown">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Keywords" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button">Hax the dB</button>
      </div>
    </div>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Sort By
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="select_genre">
        <label class="form-check-label" style="color: white">
          Genre Filters
        </label>
        <input class="form-check-input" type="checkbox" value="" id="select_">
        <label class="form-check-label" style="color: white">
          Release Date Filters
        </label>
      </div>

  </div>
</div>