input {
    display: inline-block;
    position: inherit;
}

.btn.btn-secondary.focus.active {
    background-color: #545b62;
}
.btn.btn-secondary.focus {
    background-color:rgb(40, 71, 71);
}
.btn.btn-secondary {
    background-color: #545b62;
}
.form-check-label {
    color: white !important;
}
label {
    color:black;
    font-size: 14px;
    margin: 0px;
}

.btn-group {
    margin-top: 10px;
    margin-left: 5px;
}

.form-control {
    max-width: 100%;
}
