input {
    display: block;
    position: inherit;
}


.btn.btn-secondary.focus.active {
    background-color: #545b62;
}
.btn.btn-secondary.focus {
    background-color:rgb(40, 71, 71);
}
.btn.btn-secondary {
    background-color: #545b62;
}
