input {
    display: inline-block;
    position: inherit;
}

.btn.btn-secondary.focus.active {
    background-color: #545b62;
}
.btn.btn-secondary.focus {
    background-color:rgb(40, 71, 71);
}
.btn.btn-secondary {
    background-color: #545b62;
}

label {
    color:white !important;
}

.btn-group {
    margin-top: 10px;
    margin-left: 5px;
}