<br>
<div class="container" id="search" style="text-align:center">
  <h2>Discover Movies
    <sub> beta</sub>
  </h2>
  <br>
  <div class="container" style="text-align:center;">
    <div class="dropdown">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Keywords" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-dark" type="button" id="haxthedb" (onclick)="hax()">Hax the dB</button>
        </div>
      </div>
    </div>
    <div class="btn-group">
      <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Sort By
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a *ngFor="let sort of sortby_keys; let myIndex = index" class="dropdown-item">
          <label>{{sortby[sort]}}</label>
        </a>
      </div>
    </div>
    <div class="btn-group">
      <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Include Genres
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <label *ngFor="let gen of genre_keys" class="dropdown-item">
          <input style="margin-left:2px;" type="checkbox" class="form-check-input" value="{{gen}}">&nbsp; {{genres[gen]}}</label>
      </div>
    </div>
    <div class="btn-group">
      <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton3" aria-haspopup="true" data-toggle="dropdown"
        aria-expanded="false">
        Exclude Genres
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <label *ngFor="let gen of genre_keys" class="dropdown-item">
          <input style="margin-left:2px;" type="checkbox" class="form-check-input" value="{{gen}}">&nbsp; {{genres[gen]}}</label>
      </div>

    </div>
    <div class="btn-group">
      <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Primary Release Date Range
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item">
         <label>From:</label>
          <input class="form-control" id="before" type="date" value="{{before_date}}">
          <br><label style="margin-left:16px;">To:</label>

          <input class="form-control" id="after" type="date" style="margin-right:20px">
        </a>
      </div>
    </div>
    <div class="btn-group">
      <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton5" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Original Language
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span id="listbox" class="input-group-text"><label style="margin-left:30px;"></label>Language</span>
              </div>
              <input id="lang" list="languages" name="language">
          <datalist id="languages">
            <option *ngFor="let lang of lang_keys" value="{{lang}}">
          </datalist>
            </div>
          </a>
        </div>
      <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div>
          <label style="margin-left: 50px;">Language</label>
          <input style="margin-left: 3px;" list="languages" name="language">
          <datalist id="languages">
            <option *ngFor="let lang of lang_keys" value="{{lang}}">
          </datalist>
        </div>
      </div> -->
    </div>
    <div class="btn-group">
      <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton6" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        IMdB Rating
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Greater than</span>
            </div>
            <input type="number" max="9" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
        </a>
      </div>
    </div>
    <div class="btn-group">
      <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton7" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Vote Count
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Greater than</span>
            </div>
            <input type="number" max="10000000000" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
        </a>
      </div>
    </div>
    <br>
    <br>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="false"> Include 18+ Movies
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="false"> Exclude Watched Movies
      </label>
    </div>
  </div>
</div>