/* You can add global styles to this file, and also import other style files */

/*Angular Material 2 Themes, icons,etc */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


/* Card Style template */
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

mat-card {
  max-width: 90%;
  margin: 1em auto;
  text-align: left;
}

mat-toolbar-row {
  justify-content: space-between;
  font-family: 'Source Sans Pro', sans-serif;
}

  html {
    position: relative;
    min-height: 100%;
  }
  .mat-toolbar.mat-accent {background: #000 !important;}

  
  .mat-menu-panel {
    background: #000 !important;
}

.mat-menu-item {
  background: #000 !important;
  color: white !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 17px !important;
}

.mat-menu-item:hover {
  background: #424242 !important;
  color: white !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 17px !important;
}

